

  <div class="home-container">

    <div class="about__img-container">

        <!-- <img [src]="images[currentImageIndex]" alt="nikolai" style="width: 600px; height: 200px;"> -->

        <img id="myImage" src="{{images[currentImageIndex]}}" alt="nikolai" style="width: 600px; height: 200px;">

        <button class="button-prev" (click)="prevImage()"><</button>
        <button class="button-next" (click)="nextImage()">></button>
    </div>

    <h1>Welcome to our website</h1>

    <p>Discover amazing products and services that cater to your needs.</p>

    <a href="#" class="button">Learn More</a>
</div>