<h2>Men gloves</h2>

<div class="products-container">
    <div class="product-card">
      <img src="assets/nikolai-gloves1.png" alt="nikolai-gloves1">
      <h2>Product 1</h2>
      <p>Description of Product 1</p>
      <button>Add to Cart</button>
    </div>
    <div class="product-card">
        <img src="assets/nikolai-gloves2.png" alt="nikolai-gloves2">
        <h2>Product 2</h2>
        <p>Description of Product 2</p>
        <button>Add to Cart</button>
      </div>
    <div class="product-card">
      <img src="assets/nikolai-gloves3.png" alt="nikolai-gloves3">
      <h2>Product 3</h2>
      <p>Description of Product 3</p>
      <button>Add to Cart</button>
    </div>
  </div>
  
  <nav>
    <ul>
      <li><a routerLink="/clothing/men-clothing">Back to Men's Clothing</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
 
  
  