<section class="about">
    <div class="about__content">

        <div class="about__img">
            <img [src]="imagePath" alt="nikolai-bsd" style="width: 600px; height: 200px;">
        </div>

        <h2 class="about__title">About Us</h2>
        <p class="about__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, arcu non laoreet
            blandit, libero quam euismod nulla, vel tristique velit sem vel neque. Pellentesque habitant morbi tristique
            senectus et netus et malesuada fames ac turpis egestas. Fusce interdum aliquet lacinia. Fusce sollicitudin
            metus euismod magna aliquet, a hendrerit mauris scelerisque. </p>
        <a class="about__link" href="#">Learn More</a>
    </div>
</section>