<h2>Women shoes</h2>

<div class="products-container">
    <div class="product-card">
      <img src="assets/nikolai-shoes1.png" alt="nikolai-shoes1">
      <h2>Product 1</h2>
      <p>Description of Product 1</p>
      <button>Add to Cart</button>
    </div>
    <div class="product-card">
      <img src="assets/nikolai-shoes2.png" alt="nikolai-shoes2">
      <h2>Product 2</h2>
      <p>Description of Product 2</p>
      <button>Add to Cart</button>
    </div>
    <div class="product-card">
      <img src="assets/nikolai-shoes3.png" alt="Product 3333">
      <h2>Product 3</h2>
      <p>Description of Product 3</p>
      <button>Add to Cart</button>
    </div>
  </div>
  
  <nav>
    <ul>
      <li><a routerLink="/clothing/women-clothing">Back to Women's Clothing</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>