<div class="content">
    <div class="column">
      <img src="assets/nikolai.png" alt="nikolai-from-bsd">
      <h2>Heading 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, expedita deserunt delectus enim perspiciatis alias ea dolor modi libero distinctio tempora officia illo magnam tenetur natus cum eaque nam similique.</p>
    </div>
    <div class="column">
      <img src="assets/nikolai.png" alt="nikolai-from-bsd">
      <h2>Heading 2</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab soluta quisquam similique eligendi laudantium nisi cupiditate eum numquam sit, voluptates quas eos? Voluptatibus dolorum qui inventore dolor sunt iste quia?</p>
    </div>
  </div>
  