<h2>Women suits</h2>

<div class="products-container">
    <div class="product-card">
      <img src="assets/nikolai-suit1.png" alt="nikolai-suit1">
      <h2>Product 1</h2>
      <p>Description of Product 1</p>
      <button>Add to Cart</button>
    </div>
    <div class="product-card">
      <img src="assets/nikolai-suit2.png" alt="nikolai-suit2">
      <h2>Product 2</h2>
      <p>Description of Product 2</p>
      <button>Add to Cart</button>
    </div>
    <div class="product-card">
      <img src="assets/nikolai-suit3.png" alt="nikolai-suit3">
      <h2>Product 3</h2>
      <p>Description of Product 3</p>
      <button>Add to Cart</button>
    </div>
  </div>
  
  <nav>
    <ul>
      <li><a routerLink="/clothing/women-clothing">Back to Women's Clothing</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>