<h2>Childrens products</h2>

<div class="products-container">
  <div class="product-card">
    <img src="assets/ch-p.png" alt="Product 1">
    <h2>Product 1</h2>
    <p>Description of Product 1</p>
    <button>Add to Cart</button>
  </div>
  <div class="product-card">
    <img src="assets/ch-p.png" alt="Product 2">
    <h2>Product 2</h2>
    <p>Description of Product 2</p>
    <button>Add to Cart</button>
  </div>
  <div class="product-card">
    <img src="assets/ch-p.png" alt="Product 3">
    <h2>Product 3</h2>
    <p>Description of Product 3</p>
    <button>Add to Cart</button>
  </div>
</div>